.box {
  background-color: #BDFCC9;
  width: 200px;
  padding: 10px;
  border: 0.5px solid black;
  margin: 10px;
}

.front {
  padding-top: 120px
}

header h2 {
  line-height: 70%;
  margin-bottom:-15px;
}
