
<div ng-show="reviews.length" ng-repeat="review in reviews">
  <div class="row">
    <ul>
      <div class="col-md-4">
        <h4><span ng-click="showContent = ! showContent">{{ review.title }}</h4></span>
      </div>
      <div class="col-lg-8" ng-show="showContent">
        <h3 class="text-center">{{ review.title }}</h3>
        <p>{{ review.content }}</p>
      </div>
    </ul>
  </div>
</div>
</div>
<hr>

<div class="row">
  <div class="col-md-4"></div>
  <center>
  <div class="col-md-8">
    <strong><h3>Create New Movie Review</h3></strong>
    <br>
    <form ng-submit="addReview()" class="form-inline" role="form">
      <div class="form-group">
        <input size="60" type="text" ng-model="reviewTitle" class="form-control" placeholder="Enter a review title">
      </div>
      <br>
      <br>
      <div class="form-group">
        <textarea rows="7" cols="63" type="text" ng-model="reviewContent" class="form-control" placeholder="content here..."></textarea>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-info btn-lg ">Submit</button>
    </form>
  </div>
  </center>
</div>

<div ui-view="body"> </div>
